* {
    margin: 0;
    color: white;
    font-family: Helvetica;
}

header {
    grid-area: header;
}

img {
    max-width: 100%;
}

nav {
    list-style: none;
    background-color: rgba(0, 0, 0, 0.514);
    max-width: 100%;
}

section {
    grid-area: section;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url(../images/dark-grunge-style-scratched-metal-surface.jpg);
    background-color: black;
}

footer {
    grid-area: footer;
    opacity: .7;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 4rem;
}

.navbar-brand {
    width: 8rem; 
}

#logo{
    width: 15rem;
    max-width: 100%;
}

@media screen and (min-width: 768px) {
    .navbar-brand {
        width: 25rem;
        margin: 0 auto;
    }
    #logo{
        width: 25rem;
    }
}

@media screen and (min-width: 768px) {
    .navbar-brand {
        width: 35rem;
        margin: 0 auto;
    }
    #logo{
        width: 35rem;
    }
}

#grid-home {
    display: grid;
    grid-template-areas:
    "header"
    "section"
    "footer";
}


.img-body {
    border-radius: 2rem;
    width: 70rem;
    display: flex;
    margin-top: 10rem;
    max-width: 100%;
}

a {
    text-decoration: none
}

.section-nohome {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
    text-align: center;
}

@media screen and (min-width: 768px){
    #productos{
    display: grid;
    grid-template-columns: repeat(2, 40%);
    margin-top: 10rem;
}
}

@media screen and (min-width: 1200px) {
#productos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 12rem 20rem 0rem 20rem;
    gap: 2rem;
}
}

.prenda {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 0.5rem;
}

.card-image{
    width: 15rem;
    margin: 0 auto;
}




iframe {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    margin-top: 3rem;
}

form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    gap: 3rem;
}

.field{
    display: flex;
    flex-direction: column;
    width: 20rem;
    background: none;
    border-style: groove;
    border-radius: 1rem;
    border-color: rgba(255, 255, 255, 0.493);
    color: white;
}

input {
    color: white;
    border-style: groove;
    border-color: rgba(255, 255, 255, 0.493);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 3rem;
}

fieldset {
    border-color: rgba(255, 255, 255, 0.493);
    border-radius: 1rem;
}

ol {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}